# Ler tabelas em pdf com Python

### Instalação:

1. pip install tabula-py
2. verifique se tem o java no seu computador, caso contrário, instale o java
3. Reinicie o Jupyter
4. Usar no código
    - Caso mesmo assim o tabula dê algum erro e não reconheça o read_pdf, você pode importar:<br>from tabula.io import read_pdf

Lista dos aprovados o concurso do Ministério da Justiça e Segurança Pública - Área Ciência de Dados

In [10]:
# Importando a biblioteca que ler tabelas em pdf
import tabula

# Irá retornar uma lista de todas as tabelas no meu PDF
# o MÉTODO tabula.read_pdf("nome do arquivo.pdf", páginas) 
lista_tabelas = tabula.read_pdf("ed_result_obj_mjsp.pdf", pages =[2,3])
print(len(lista_tabelas))

2

In [11]:
for tabela in lista_tabelas:
    #print(tabela)
    display(tabela) # Método do Jupyter

,Flivio Mauricio Cordeiro,0380000355,9.00,3.00,5.00,44.00,61.00
0,Gisele Canedo,0380000211,7.00,2.00,4.00,36.00,49.00
1,Glenna Milhomem Balthar Fernandes,0380000433,7.00,3.00,3.00,34.00,47.00
2,Guilherme Gonçalves,0380000452,7.00,3.00,3.00,48.00,61.00
3,Guilherme Xavier Rocha,0380000835,7.00,3.00,2.00,32.00,44.00
4,Harisson Ford Alves Ribeiro,0380000593,6.00,4.00,4.00,40.00,54.00
...,...,...,...,...,...,...,...
66,Ellton Sales Barros,0390000583,5.00,5.00,3.00,42.00,55.00
67,Fabiola Santore,0390000431,5.00,4.00,4.00,36.00,49.00
68,Fabio Mesquita Buia,0390000074,4.00,3.00,3.00,50.00,60.00
69,Fernando Rolim Silva,0390000062,9.00,5.00,4.00,46.00,64.00
70,Flaviana Sá Barbosa Cândido,0390000754,4.00,2.00,2.00,34.00,42.00

,Franklin Da Silva Porto 0390000070 5.00,2.00,3.00,32.00,Unnamed: 0,42.00
0,Gustavo Mar ns Venancio Pires 0390000774 7.00,3.00,4.00,44.00,NaN,58.00
1,Guy Graça Sampaio Pourre 0390000320 6.00,4.00,4.00,36.00,NaN,50.00
2,Igor Da Penha Natal 0390000537 4.00,4.00,5.00,32.00,NaN,45.00
3,Inácio Américo Gomes Slompo 0390000525 5.00,4.00,4.00,50.00,NaN,63.00
4,Ítalo Alberto Do Nascimento Sousa 0390000596 6.00,2.00,5.00,38.00,NaN,51.00
...,...,...,...,...,...,...
60,Sormane Do Nascimento Guimarães 0400000609 8.00,3.00,3.00,34.00,NaN,48.00
61,Stanley Cruvinel Ramos De Oliveira 0400000552 ...,2.00,3.00,42.00,NaN,53.00
62,Ueslei Da Silva Reis 0400000399 7.00,4.00,4.00,34.00,NaN,49.00
63,Vládia Barreira Beserra 0400000141 6.00,3.00,2.00,42.00,NaN,53.00
64,Walter Ayres Carmona 0400000065 5.00,3.00,3.00,34.00,NaN,45.00

Formatando as tabelas

In [61]:
# Destacando as taelas
tabela1 = lista_tabelas[0]
tabela2 = lista_tabelas[1]

In [62]:
# Formatando a tabela1
tabela1.columns = tabela1.iloc[51]

# Retira a lista de cadidatos de outra área
tabela1 = tabela1[52:]

# Ajustado a primeira coluna
tabela1=tabela1.set_index("Nome")

display(tabela1)

51,Inscrição,Língua\rPortuguesa,Inglês,Raciocínio\rLógico,Conhecimentos\rEspecíficos de\rInformáca,Nota da Prova\rObjeva
Nome,,,,,,
Abraão Miranda Nunes De Queiroz,0390000960,4.00,4.00,1.00,38.00,47.00
Adriana Maria Santos Viana,0390000405,4.00,4.00,2.00,42.00,52.00
Alessandro Duran Da Moa,0390000621,7.00,4.00,5.00,34.00,50.00
Ana Carolina Souto Valente Moa,0390000284,7.00,5.00,5.00,36.00,53.00
André De Souza Andrade,0390000655,8.00,4.00,4.00,46.00,62.00
Arnaldo De Sena Santos,0390000908,6.00,3.00,4.00,38.00,51.00
Carlos Conrado Kondo,0390000579,8.00,4.00,4.00,48.00,64.00
Carlos Mathias Mota Vargas,0390000635,6.00,1.00,3.00,36.00,46.00
Cidiane Aracaty Lobato,0390000113,7.00,4.00,4.00,42.00,57.00
Claudia Cavalcante Pires,0390000851,4.00,4.00,2.00,40.00,50.00
Clodeinir Ronei Peres,0390000764,7.00,3.00,2.00,40.00,52.00
Daniela De Castro Moura,0390000594,7.00,3.00,3.00,36.00,49.00
Debora Oliveira Chagas,0390000826,5.00,3.00,3.00,36.00,47.00
Edgar Rocha Carvalho,0390000546,7.00,4.00,4.00,40.00,55.00
Ellton Sales Barros,0390000583,5.00,5.00,3.00,42.00,55.00
Fabiola Santore,0390000431,5.00,4.00,4.00,36.00,49.00
Fabio Mesquita Buia,0390000074,4.00,3.00,3.00,50.00,60.00
Fernando Rolim Silva,0390000062,9.00,5.00,4.00,46.00,64.00
Flaviana Sá Barbosa Cândido,0390000754,4.00,2.00,2.00,34.00,42.00

In [73]:
# Formatando a tabela2
tabela2.columns = tabela2.iloc[0]
tabela2 = tabela2[0:27]

# Divido a última coluna em duas separadas por um espaço (" ")
#tabela2[[0,1]] = tabela2.split(" ", expand = True)

# Delatando a colua NaN
#tabela2 = tabela2.drop(" ", axis = 1)
# Retira a lista de cadidatos de outra área
#tabela2 = tabela2[52:]

display(tabela2)

,Gustavo Mar ns Venancio Pires 0390000774 7.00,3.00,4.00,44.00,NaN,58.00
0,Gustavo Mar ns Venancio Pires 0390000774 7.00,3.00,4.00,44.00,NaN,58.00
1,Guy Graça Sampaio Pourre 0390000320 6.00,4.00,4.00,36.00,NaN,50.00
2,Igor Da Penha Natal 0390000537 4.00,4.00,5.00,32.00,NaN,45.00
3,Inácio Américo Gomes Slompo 0390000525 5.00,4.00,4.00,50.00,NaN,63.00
4,Ítalo Alberto Do Nascimento Sousa 0390000596 6.00,2.00,5.00,38.00,NaN,51.00
5,Jacinto Marques Xavier 0390000683 4.00,4.00,2.00,42.00,NaN,52.00
6,Joao Marcelo Rodrigues Sant Ana 0390000018 7.00,3.00,4.00,46.00,NaN,60.00
7,João Paulo Versiani Ladeia 0390000714 8.00,3.00,5.00,50.00,NaN,66.00
8,José Hélio De Souza 0390000806 7.00,4.00,4.00,38.00,NaN,53.00
9,Julie Chris ne Tende Franco 0390000550 10.00,5.00,4.00,56.00,NaN,75.00
10,Leila Keli Tosta Da Silva 0390000975 4.00,3.00,3.00,34.00,NaN,44.00
11,Le cia Toledo Maia Zoby 0390000262 7.00,3.00,5.00,32.00,NaN,47.00
12,Lucas Camelo Casagrande 0390000696 8.00,5.00,5.00,56.00,NaN,74.00
13,Lucas Reinehr De Andrade 0390000646 7.00,5.00,5.00,46.00,NaN,63.00
14,Madson Luiz Magno Da Silva 0390000785 5.00,4.00,3.00,34.00,NaN,46.00
15,Marcelo Aloysio Pinto 0390000436 4.00,3.00,1.00,38.00,NaN,46.00
16,Marcilon Silva Cunha Alves 0390000250 5.00,3.00,1.00,32.00,NaN,41.00
17,Matheus Roberto Souza Silva 0390000742 6.00,4.00,3.00,40.00,NaN,53.00
18,Michael Oliveira Da Cruz 0390000438 6.00,5.00,4.00,52.00,NaN,67.00
19,Michely Avelar Pereira 0390000050 6.00,1.00,3.00,40.00,NaN,50.00
20,Mustafa Quazi 0390000334 6.00,4.00,4.00,52.00,NaN,66.00
21,Nelson Gonçalves Prates Junior 0390000510 7.00,3.00,4.00,38.00,NaN,52.00
22,Pedro Henrique Rodrigues Mendes 0390000602 8.00,2.00,3.00,40.00,NaN,53.00
23,Pedro Murta Lima 0390000733 5.00,3.00,3.00,38.00,NaN,49.00
24,Ricardo Ferreira Polito 0390000955 6.00,3.00,3.00,34.00,NaN,46.00
25,Ricardo Miranda Santos 0390000942 5.00,3.00,2.00,32.00,NaN,42.00
26,Victor Hugo Alves Pereira 0390000305 2.00,3.00,5.00,48.00,NaN,58.00

### Mas nem sempre a tabela vai vir bonitinha

In [ ]:
lista_tabelas2 = tabula.read_pdf("ed_result_obj_mjsp.pdf", pages ="all")
print(len(lista_tabelas2))

In [ ]:
tabela = lista_tabelas2[0]
display(tabela)

Tratando a formatação da taela

In [ ]:
tabela = lista_tabelas2[0]
tabela.columns = tabela.iloc[0]

# Divido a última coluna em duas separadas por um espaço (" ")
tabela[[0,1]] = tabela["Variação percentual"].str.split(" ", expand = True)

# Returando a linha 0 e as linhas pós a liha 8
tabela = tabela[1:9]

# Ajustado a primeira coluna
tabela=tabela.set_index("R$ milhões")

# Ajustando o cabeçalho
tabela.columns = tabela.iloc[0]
tabela = tabela[1:]
tabela= tabela.drop("1T21/4T20 1T21/1T20", axis = 1)
display(tabela)

### E se ele não tiver reconhecendo a tabela?

2 parâmetros para testar:

- lattice
- guess

In [7]:
# lattice
lista_df = tabula.read_pdf("ed_result_obj_mjsp", pages="all", lattice=True)
display(lista_df[0])

print("*" * 10)

# guess
lista_df = tabula.read_pdf("ed_result_obj_mjsp.pdf", pages="all", guess=False)
display(lista_df[0])

FileNotFoundError: [Errno 2] No such file or directory: 'ed_result_obj_mjsp'